# Created by venv; see https://docs.python.org/3/library/venv.html

bin
include
lib
lib64
PDFS
Sfinks/*
# # Ignoruj cały katalog sfinks


# # Wyklucz podkatalog sfinks/source
!Sfinks/source/

# # Upewnij się, że pliki w sfinks/source również są śledzone
